* {
  box-sizing: border-box;
 
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #282D35;
}

nav {
  display: flex;
  align-items: center;
  background-color:black;
  height: 90px;
  width: 100%;
  padding: 10px 25px;
  border-radius: 8px;;
  margin-top: 15px;
}

.nav--logo_text, .nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 29px;
}

.nav--title {
  color: #DEEBF8;
  font-weight: 600;
  background-color: #21222A;
}

.main--body{
  display:flex;
  margin-right: auto;
  background-color:#21222A;
  height:800px;
}

.main--title {
  
  font-size: 27px;
  letter-spacing: -0.05em;
  color: white;
  padding: 70px 15px;
  text-align: right;
  margin-right: 17px;
  margin-top:15%;
}

.main--image{
  margin-left: 15px;
  margin-top: 20px;
  border-radius: 9px;
}

.form--button{
  height: 70px;
  width: 150px;
  margin-top: 50px;
  background-color: green;
  border-radius: 9px;
  margin-right: auto;
  
}


.donate--header{
  background-color: chocolate;
}

.form--amount, .form--check, .form--name{
  margin-right: 15px;
  margin-left: 15px;
}
.form--name{
margin-bottom: 10px;
}

.form--currency{
  margin-bottom: 10px;
  border-radius: 5px;
  margin-left: 15px;
  width:94%;
}

.footer{
  height: 200px;
  border-radius: 9px;

}

.footer--text{
  color:white;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: black;

}

.table--button{
  margin-left: 60px;
}
