* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #282D35;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text, .nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #DEEBF8;
  font-weight: 600;
}

.main--body{
  display:flex;
  margin-right: auto;
}

.main--title {
  margin: 0;
  font-size: 24px;
  letter-spacing: -0.05em;
  color: white;
  padding: 70px 15px;
  text-align: right;
  margin-right: auto;
  margin-top:15%;
}

.main--image{
  margin-left: 15px;
  margin-top: 20px;
  border-radius: 9px;
}

.form--button{
  height: 70px;
  width: 150px;
  margin-top: 50px;
  background-color: green;
  border-radius: 9px;
  margin-right: auto;
  
}


